body{
	display: flex;
	height: 92vh;
}


.container{
	border:1px solid black;
	width:  30%;
	padding: 10px;
	margin: auto;
}

.container h1{
	text-align:  center;
}

.container input{
	width: 90%;
}